.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h2 {
    text-align: center;
    margin-bottom: 20px;
}
  
.form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 1px;
}
  
label {
    font-weight: bold;
    font-size: 0.9rem;
    color: rgb(57, 57, 57);
}
  
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.row label {
    flex: 1;
}

textarea {
    resize: vertical;
    min-height: 80px;
}
  
.medication {
    display: flex;
    gap: 10px;
    margin-bottom: 1px;
    margin-top: 0px;
}
  
.addButton {
    align-self: end;
    padding: 8px 12px;
    margin-top: 1px;
    border: none;
    background-color: rgb(35, 171, 171);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
}
  
.addButton:hover {
    background-color: rgb(30, 147, 147);
}
  
.subButton {
    align-self: center;
    margin-top: 20px;
    width: 30%;
}

.removeButton {
    align-self: end;
    padding: 7px 10px;
    margin-top: 1px;
    border: none;
    background-color: #e04151;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}

.removeButton:hover {
    background-color: #c82333;
}

  /* Sidebar Styles */
  .sidebar {
    width: 200px;
    background-color: #007bff;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border-radius: 8px; */
  }
  
  .sidebarLink {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  
  .sidebarLink:hover {
    background-color: #0056b3;
    color: #fff;
  }
  
  .logoutButton {
    margin-top: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .logoutButton:hover {
    background-color: #0056b3;
  }
  
  .logoutImage {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  /* NeuroCare Logo and Heading */
  .neurocareLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .neurocareLogoImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #fff; /* White border */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Active Link Styling */
  .activeLink {
    background-color: #0056b3;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
  }