/* Apply box-sizing to all elements to include padding and border in the element's width and height */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.homeBackground {
  background-image: url("https://slidescorner.com/wp-content/uploads/2022/11/01-Drake-Healthcare-and-Medical-Free-PPT-Background-by-SlidesCorner.com_.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column; /* Adjust to column for smaller screens */
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 50px;
  margin-top: 150px;
  font-size: large;
}

.detail {
  width: 100%; /* Adjust to 100% to prevent overflow */
  margin-bottom: 20px; /* Add margin for spacing */
}

.detail h3 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

.buttonContainer {
  width: 100%; /* Adjust to 100% to prevent overflow */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align for better layout */
}

.patientButton,
.neurologistButton,
.adminButton {
  display: inline-block;
  width: 150px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  transition: opacity 0.3s;
}

.patientButton:hover,
.neurologistButton:hover,
.adminButton:hover {
  opacity: 0.8;
}

/* Add media query for responsiveness */
@media (min-width: 768px) {
  .content {
    flex-direction: row; /* Adjust to row for larger screens */
    padding-right: 150px;
  }

  .buttonContainer {
    align-items: flex-end; /* Right align for larger screens */
  }
}
