.signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .signupBox {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 600px;
    box-shadow: 10px 10px 10px 10px lightblue;
  }

  .SignupSideBar{
    box-shadow: 10px 10px 10px 10px lightblue;
  background-color: #007bff;
  padding: 20px;
  width: 300px;
  height: 600px;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  .SignupH{
    margin-top: 100px;
    color:white;
    font-size: 2rem;
  }
  .SignupS{
    color:white;
    font-size: 1rem;
  }
  
  .h3 {
    margin-top: 0;
    margin-bottom: 10PX;
    font-size: 2.5rem;
    color: #007bff;
  }
  
  .errorMessage {
    color: red;
  }
  
  .inputContainer {
    margin-bottom: 10px;
    width: calc(50% - 5px);
  }
  
  .inputRow {
    display: flex;
    justify-content: space-between;
  }
  
  .inputContainer label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  input[type="radio"] {
    width: 100%;
    padding: 5px;
    
    border: 2px solid #007bff;
    border-radius: 7px;
  }
  
  .SignupButton {
    margin-left: 180px;
    width: 35%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    
    border-radius: 9px;
    cursor: pointer;
     border: 1px 
     
  }
  .SignupButton :hover {
    background-color: #0056b3;
  }
  
  .loginLink {
    margin-top: 10px;
    font-size: 14px;
    margin-left: 210px;
  }
  
  .loginLink a {
    color: #007bff;
    text-decoration: none;
  }
  
  .loginLink a:hover {
    text-decoration: underline;
  }