.tableContainer {
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin-left: 21%;
    background-color: #f9f9f9;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #007bff;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  .table th {
    background-color: #007bff;
    font-weight: bold;
    /* color: black; */
  }
  
  .table td {
    background-color: #fff;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 200px;
    background-color: #007bff;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border-radius: 8px; */
  }
  
  .sidebarLink {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  
  .sidebarLink:hover {
    background-color: #0056b3;
    color: #fff;
  }
  
  .logoutButton {
    margin-top: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .logoutButton:hover {
    background-color: #0056b3;
  }
  
  .logoutImage {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  /* Main content adjusted to leave space for sidebar */
  .mainContent {
    margin-left: 90px;
    /* padding: 20px; */
    width: 1200px;
  
  
  }
  
  /* NeuroCare Logo and Heading */
  .neurocareLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .neurocareLogoImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #fff; /* White border */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Active Link Styling */
  .activeLink {
    background-color: #0056b3;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
  }